body {
    font-family: monospace;
    margin: 1em;
    margin-top: 5em;
}

article {
    text-transform: uppercase;
}

h3, p {
    margin: 0;
    line-height: 1.2;
    font-size: 1em;
    font-weight: normal;
}

h3 {
    padding-top: 1em;
}

.hidden {
    display: none;
}
